{
  "include": ["src/**/*.js"],
  "exclude": [
    "src/**/*-test.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".js"
  ],
  "require": [
    "babel-core/register"
  ],
  "cache": true,
  "check-coverage": false,
  "report-dir": "./test/coverage",
  "sourcemap": true,
  "instrument": true
}
