:host {
  position: absolute;
  z-index: 100;
  background: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

ul>li {
  overflow: hidden;
  text-overflow: ellipsis;
}

ul>li>span:first-of-type {
  float: left;
  margin-right: 30px;
}

ul>li>span:last-of-type {
  float: right;
  margin-top: 5px;
}

label:after {
  margin-top: -1px;
}

.pretty input {
  width: 200%;
}