<div class='col-xs-12'>
  <label>line 1:</label>
  <span *ngIf="address">{{ address.line1 }}</span>
</div>
<div class='col-xs-12'>
  <label>line 2:</label>
  <span *ngIf="address">{{ address.line2 }}</span>
</div>
<div class='row'>
  <div class='col-8'>
    <label>city:</label>
    <span *ngIf="address">{{ address.city }}</span>
  </div>
  <div class='col-4'>
    <label>state:</label>
    <span *ngIf="address">{{ address.state }}</span>
  </div>
</div>
<div class='col-xs-12'>
  <label>postal code:</label>
  <span *ngIf="address">{{ address.postalCode }}</span>
</div>
<div class='col-xs-12'>
  <label>country:</label>
  <span *ngIf="address">{{ address.country }}</span>
</div>