<h1>
  {{ title }}
</h1>
<div class='col-12'>
  <label>line 1:</label>
  <span *ngIf="address">{{ address.line1 }}</span>
</div>
<div class='col-12'>
  <label>line 2:</label>
  <span *ngIf="address">{{ address.line2 }}</span>
</div>
<div class='col-12 col-sm-5'>
  <label>city:</label>
  <span *ngIf="address">{{ address.city }}</span>
</div>
<div class='col-12 col-sm-3'>
  <label>state:</label>
  <span *ngIf="address">{{ address.state }}</span>
</div>
<div class='col-12 col-sm-4'>
  <label>postal code:</label>
  <span *ngIf="address">{{ address.postalCode }}</span>
</div>
<div class='col-12'>
  <label>country:</label>
  <span *ngIf="address">{{ address.country }}</span>
</div>