html, body {
  margin: 0;
  padding: 0;
  background: lightgray;
}

.widget {
  padding: 0;
}

.widget>div {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  background: white;
}

.widget.out-of-focus {
  opacity: .5;
}

.widget.resizable>div {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .widget.resizable>div {
    margin-right: 11px;
  }
}

.widget .resizer {
  border-right: 1px solid lightgray;
  position: absolute;
  top: 0;
  right: -1px;
}

.widget .resizer:hover {
  cursor: ew-resize;
}

.resize-guideline {
  position: absolute;
  height: 100%;
  border-right: 1px dotted blue;
}

.controls {
  height: 20px;
}

.content {
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 200ms, 500ms;
}

.spacer {
  height: 20px;
}

.placeholder>div {
  background: darkgray;
  opacity: .5;
}

.minimized {
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 500ms, 200ms;
  height: 0 !important;
}

.draggable {
  position: absolute;
  pointer-events: none;
}

.no-highlighting {
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  user-select: none;
}

.column-marker {
  position: absolute;
  visibility: hidden;
}